.project
.vscode/
.ccls-cache/
.cmake/
CMakeLists.txt.user*
cmake_install.cmake
CMakeFiles/
.qt*
*_autogen/
build/
build-cantata*

*.a
*.d
*.o
*.moc
*.moc_parameters

cantata-remote
cantata-replaygain
cantata-tags
cantata.cflags
cantata.code-workspace
cantata.config
cantata.creator
cantata.cxxflags
cantata.files
cantata.includes

cmake_uninstall.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
FindPackageLog.txt
install_dirs
